<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd" default-init-method="myInit" default-destroy-method="destroy2">

	  <!-- <aop:aspectj-autoproxy /> --> 
	 
	 <bean name="loggingAspect" class="aspect.LogginAspect"></bean>

	
	<bean name="shapeService" class="service.ShapeService" autowire="byName">
	 
	</bean> 
	
 	<bean class="model.Point" id="center" scope="prototype">
	  <property name="x" value="${pointA.x}"></property>
	  <property name="y" value="${pointA.y}"></property>
	
	</bean>
	
	<bean class="model.Point" id="pointB" >
	  <qualifier value="circleReleated"></qualifier>
	  <property name="x" value="0"></property>
	  <property name="y" value="20"></property>
	
	</bean>
	
	<bean class="model.Point" id="pointC" >
	  <property name="x" value="20"></property>
	  <property name="y" value="0"></property>
	
	</bean>
	
	<!-- 
	<bean class="model.Triangle" id="parenttriangle" abstract="true">
	  <property name="pointA" ref="pointA"></property>
	</bean>
	
	<bean class="model.Triangle" id="triangle" parent="parenttriangle" init-method="myInit" destroy-method="destroy2">
	 <constructor-arg value="Equilateral"></constructor-arg>
	 <property name="pointB" ref="pointB"></property>
	  <property name="pointC" ref="pointC"></property>
	</bean> -->
	
	<!-- <bean class="com.DisplayNameBeanPostProcessor"/> -->
	
	<bean class="com.MyBeanFactoryPP"/>
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	 <property name="locations" value="pointsConfig.properties"></property>
	
	</bean>
	
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
	
	    <property name="basenames">
	     <list>
	       <value>mymessages</value>
	     </list>
	    
	    </property>
	</bean>
	
  <context:annotation-config/>
  <context:component-scan base-package="model"/>

</beans>